/*@import url('https://fonts.googleapis.com/css?family=Alegreya:700');*/
@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* CONTENIDO BASE */
html {
    min-height: 100%;
    position: relative;
    background-image: url(page4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #0A0A0C;
}
body{
    
    margin: 0;
    margin-bottom: 40px;
}
#root{
    color:#9C865A;
}


/* HEADER */
.nav-wrapper{
    background-color: #19191C;    
}
#lol-logo{
    width: 140px;
    height: 50px;
    margin-left: 70%;
    margin-top: 5px;
}
.nav-wrapper li a{   
    font-size: 20px;
    font-family: 'Germania One';
    color: #9C865A;
    margin-right: 20px;
    text-align: center;
}
ul li:hover a {
    background: #0A0A0C;
}


/* FOOTER */
.page-footer{
    height: 60px;
    background-color: #19191C;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
} 

/* PAGINA 1 */
#welcome.col.s12.m6.l6{
    font-size: 120%;
    font-family: 'Roboto', sans-serif;
    color:#D0BFD8;
    text-align: justify;
    width: 40%;
    margin-top: 10%;
    margin-bottom: 5%;
}
#start{
    border: 3px solid rgba(192,252,253,.7);
    background: #1e2328;
    border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
    border-image-slice: 1;
    height: 45px;
    width: 130px;
    color:#D0BFD8;
    font-size: 20px;
    font-family: 'Germania One';
    font-weight: 400;
    top: 50%;
    left: 50%;
    margin-top: 5%;
    text-transform: none;
}


/* PAGINA 2 */
#page-2{
    display: none;
}
h1{
    font-size: 24px;
    color:#D0BFD8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.link{
    color: cadetblue;
    cursor: pointer;
}
input.select-dropdown.dropdown-trigger{
    color:#9C865A;
    width: 200px;
    margin-left: 5px;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card .card-reveal {
    padding: 12px;
    top: 107%;
    height: 110%;
}
.card{
    border-radius: 15px;
    margin:8px;
    margin-bottom: 10px;
    height: 230px;
    width: 170px;
}
img.responsive-img{
    width: 170px;
    height: 130px;
}


/* PAGINA 3 */
.link2{
    cursor: pointer;
    float:right;
    margin-right: 25px;
    margin-top: 15px;
    font-size: 30px;
    color: solid black;
}
.card.large {
    width: 880px;
    height: auto;
    margin-top:40px;
    /*margin-left:-10%;*/
}
#image-info{
    margin: 10px;
    padding: 10px;
    float: left;
}
#champion-name{
    margin-left: 250px;
    float: left;
}
h3{
    font-size: 24px;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/* PAGINA 4 */
#page-4{
    display: none;
}
h2{
    font-size: 28px;
    color:#9C865A;
    font-family: 'Germania One';
    text-align: center;
}
.responsive-image{
    width: 200px;
    height:200px;
    margin-top:40px;
    margin-left: 40px;
}
#result-table{
    color:#D0BFD8;
}
div.col.l9{
    margin-top: 40px;
}
#graphic{
    border: 3px solid rgba(192,252,253,.7);
    background: #1e2328;
    border-image: linear-gradient(to bottom,#08abac 0,#01698b 100%);
    border-image-slice: 1;
    height: 45px;
    width: 130px;
    color:#D0BFD8;
    font-size: 20px;
    font-family: 'Germania One';
    font-weight: 400;
    top: 50%;
    left: 50%;
    text-transform: none;
    margin-left: 27%;
}
#lineChart{
    bottom: 10%;
    height:10%;
}

/*RESPONSIVE*/
.sidenav-overlay{
    z-index: 995;
}
ul#mobile-demo.sidenav{
    background-color: #19191C;
    width: 200px;
}

#mobile-demo.sidenav li a{
    color: #9C865A;
    font-family: 'Alegreya', serif;
    font-size: 15px;
}
@media only screen
and (max-width : 480px) {
    .card.large { 
        width:320px;
        margin:3%;
    }
    
    #champion-name {
        font-size:18px;
        margin-left:0%;
    }

    h4{
        font-size:18px;
    }        
    span.link2{
        font-size: 15px;
        margin-right: 15px;
        margin-top:10px
    }
    h2{
        font-size: 20px;
    }
    img.responsive-image{
        width: 150px;
        height:150px;
        margin-top:20px;
        margin-left:5px;
    }
    #text-page1{
        text-align: justify;
        width: 90%;
    }
}

@media only screen
and (min-width: 480px)and(max-width: 767px) {
    .card.large { 
        width:400px;
        margin-left:-60%;
    }
    #text-page1{
        text-align: justify;
        width: 90%;
    }
}